body {
    font-family: Arial, sans-serif;
    background-image: url('tss.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

main {
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 35%;
    text-align: left;
    position: absolute;
    left: 15%; 
    top: 2%;
}

h2 {
    color: #0835ec;
    font-family: 'Lucida Handwriting';
    font-size: 28px;
    text-align: center;

}

h5 {
    color: red;
    font-size: 17px;
}

label {
    color: #02014d;
    font-weight: bold;
    font-size: 18px;
}

p {
    font-size: 18px;
    color: black;
}

input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    margin-left: 90px;
}

button:hover {
    background-color: #0056b3;
}

ol {
    text-align: left;
    font-size: 13px;
    color: #444;
}

ol li {
    margin-bottom: 10px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    main {
        width: 80%;
        left: 10%;
    }
}

#custom-alert {
    position: fixed;
    top: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    width: 300px; 
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
    display: none; 
}

#custom-alert button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 7px;
    margin-left: 10px;
}

#custom-alert button:hover {
    background-color: #0056b3;
}

